<h1 class="page-header">
  Editar Periodo
  <%= link_to periodos_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
  <%= link_to @periodo, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
</h1>

<%= render 'form', periodo: @periodo %>
