<h1 class="page-header">
  Nuevo Periodo
  <%= link_to periodos_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
</h1>

<%= render 'form', periodo: @periodo %>
