<h1 class="page-header">
  Nuevo Servicio
  <%= link_to servicios_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
</h1>

<%= render 'form', servicio: @servicio %>
