<h1 class="page-header">
  Reportes
</h1>

<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 1</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 1
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 2</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 2
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 3</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 3
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 4</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 4
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 5</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 5
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 6</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 6
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 7</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 7
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
    	<div class="panel panel-primary text-center no-boder bg-color-green">
            <div class="panel-body">
            	<i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                <h3>Reporte 8</h3>
            </div>
            <div class="panel-footer back-footer-green">
            	Reporte 8
            </div>
        </div>
    </div>
</div>