<h1 class="page-header">
  Reportes
</h1>

<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12">
        <%= link_to reportes_reporteconsumo_path(:format=>:pdf), method: :get do %>
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
            	   <i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                    <h3>Reporte 1</h3>
                </div>
                <div class="panel-footer back-footer-blue">
            	   Total consumo del mes
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <%= link_to reportes_reportebalance_path(:format=>:pdf), method: :get do %>
    	   <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
            	   <i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                    <h3>Reporte 2</h3>
                </div>
                <div class="panel-footer back-footer-blue">
            	   Balance facturado del mes
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <%= link_to reportes_reportepagos_path(:format=>:pdf), method: :get do %>
    	   <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
            	   <i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                    <h3>Reporte 3</h3>
                </div>
                <div class="panel-footer back-footer-blue">
            	   Total pagos del mes
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <%= link_to reportes_reportedeudas_path(:format=>:pdf), method: :get do %>
    	   <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
            	   <i class="glyphicon glyphicon-file glisize" aria-hidden="true"></i>
                    <h3>Reporte 4</h3>
                </div>
                <div class="panel-footer back-footer-blue">
            	   Clientes con deudas
                </div>
            </div>
        <% end %>
    </div>

</div>