<h1 class="page-header">
  Cuenta Corriente Cliente
  <%= link_to ctacteclis_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
  <%= link_to edit_ctactecli_path(@ctactecli), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar
  <% end %>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
      	<p>
  			 <strong>Cliente:</strong>
  			 <%= @ctactecli.cliente_id %>
		    </p>
      </div>
      <div class="col-md-6">
        <p>
         <strong>Estado de cuenta:</strong>
         <% if @ctactecli.estado_cuenta == true %>
            ACTIVO
          <% else %>
            INACTIVO
          <% end %>
        </p>
      </div>
      <div class="col-md-6">
    	 <p>
  			 <strong>Saldo:</strong>
         <%= number_with_delimiter(@ctactecli.saldo, delimiter: ".") %>
		    </p>
      </div>
    </div>
  </div>
</div>